body{
    font-family: 'Red Hat Display', sans-serif;
    
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 51px;
    overflow-y: hidden;
}
.desktop-images{
    display: none;
}
.pics{
    width:100%;
    height: 154px;
    object-fit: cover;
    object-position: 53%;
    padding-top: 51px;
}
h1, h2{
    font-weight: 900;
    text-align: center;
    width: 327px;
    
}
.firstdiv, .seconddiv, .footersdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.firsth1, .therdh1{
    font-size: 40px;
    line-height: 44px;
    color: #28283D;
    margin-top: 41px;
}
.firstp, .secondp, .therdp{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    line-height: 26px;
    padding-top: 24px;
    color:  #87879D;
}
p{
    font-weight: 500;
    text-align: center;
    width: 327px;
}
button{
    font-family: 'Red Hat Display', sans-serif;
    width: 193px;
    height: 58px;
    color: beige;
    text-align: center;
    border-radius: 29px;
    border: none;
    font-size: 16px;
    line-height: 26px;
    font-weight: 900;
}
span{
    opacity: 50%;
}
.buttons-row{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-button{
    background-color: 
    #4D96A9;
    margin-top: 32px;
}
.little-button,.second-button{
    background-color: 
    #855FB1;
}
.second-button{
    margin-bottom: 60px;
}
.little-button{
    width: 139px;
    height: 58px;
    margin-top: 16px;
}
.line{
    width: 1px;
    height: 84px;
    background-color: 
    #87879D;
    margin-top: 64px;
}
.line2{
    width: 1px;
    height: 84px;
    background-color: #855FB1;
    position: relative;
    margin: auto;
    bottom: 100px;
}
.circle2{
    width: 56px;
    height: 56px;
    background-color:#fff;
    border: 1px solid #87879D40;    
    color: #87879D;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 29px;
    position: absolute;
    bottom: 370px;
    margin: auto;
}
.circle {
    width: 56px;
    height: 56px;
    border: 1px solid #87879D40;
    border-radius: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #87879D;
    margin-bottom: 64px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}
.pictures{
    width: 327px;
    margin: auto;
    gap: 14px;
    display: flex;
    flex-wrap: wrap;
}

.small-pics{
    width: 151px;
    border-radius: 6px;
}

h2{
    color: 
    #4D96A9;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 4px;
    padding-top: 46px;
    padding-bottom: 24px;
}
.therdh1, .therdp{
    color: 
    #FAFAFA;
}
.therdp{
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.5px;
    padding-bottom: 32px;
}
.secondh1{
    color: 
    #28283D;
    font-size: 32px;
    line-height: 36px;
}
.secondp{
    padding-bottom: 164px;
}
footer{
    width: 100%;
    height: 400px;
    background-image: url(./mobile/image-footer.jpg);
    background-repeat: no-repeat;
    background-size:100%;

}
.footersdiv{
    position: relative;
    bottom: 84px;
    width: 100%;
    height:400px ;
    background-color: rgba(96, 144, 206, 0.5);
    color: #fff;
}
@media(min-width:768px){
    .pics{
        height:303px;
    }
    .buttons-row{
        display: block;
    }
    .first-button{
        margin-right: 10px;
    }
    .firsth1{
        font-size: 48px;
        line-height: 48px;
    }
    .secondh1, .therdh1{
        font-size: 40px;
        line-height: 41px;
        width: 445px;
    }
    .firstp, .secondp{
        font-size: 16px;
        line-height: 26px;
    }
    .firstp{
        width: 457px;
    }
    .secondp{
        width: 573px;
    }
    .therdp{
        font-size: 18px;
        line-height: 26px;
        width: 573px;
    }
    .pictures{
        flex-wrap: nowrap;
        width: 768px;
        justify-content: center;
    }
    footer{
        background-image: url(./tablet/image-footer.jpg);
        width: 100%;
    }
    main{
        overflow-y: hidden;
    }
    header{
        overflow-y: hidden;
    }
}
@media(min-width:1440px){
    .pics{
        display: none;
    }
    .desktop-images{
        display: flex;
        width: 100%;
        position: relative;
        margin-top: 30px;
        overflow-x: hidden;
        height: 358px;
        border: none;
    }
    .desktop-images1{
        position:relative;
        right: 2%;
        height: 293px;
    }
    .desktop-images2{
        position: absolute;
        right:-20px;
        height: 302px;
        top: 52px;
    }
    .firstdiv{
        position: absolute;
        top:100px;
    }
    .firsth1{
        font-size: 64px;
        line-height: 64px;
        width: 445px      ;
    }
    .firstp{
        font-size: 18px;
        width: 540px;
    }
    .first-button:hover{
        background-color: 
        #71C0D4;   
        cursor:pointer;
    }
    .second-button:hover, .little-button:hover{
        background-color: 
        #B18BDD;
        cursor: pointer;
    }
    .secondp{
        width: 540px;
        font-size: 18px;
        text-align: center;
        color: 
        #87879D;
    }
    .secondh1{
        line-height: 44px;
    }
    .small-pics{
        width: 250px;
    }
    .footersdiv{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .therdh1{
        margin-top: 0px;
        text-align: left;
    }
    .therdp{
        width: 350px;
        text-align: left;
    }
    .second-button{
        margin-top: 50px;
        margin-left: 70px;
    }
}
